.contact-information {
  .none-indent;
  flex-direction: column;
  width: 100%;
  margin-bottom: 35px;

  &::before {
    position: absolute;
    top: -79px;
    left: -20px;
    content: url("../img/catalog-mobile-line.svg");

    @media (min-width: @tablet-width) {
      top: -55px;
      left: 0;
      content: url("../img/catalog-tablet-line.svg");
    }

    @media (min-width: @desktop-width) {
      top: -100px;
      left: 0;
      content: url("../img/catalog-desktop-line.svg");
    }
  }

  &::after {
    @media (min-width: @tablet-width) {
      position: absolute;
      top: -55px;
      right: 0;
      content: url("../img/catalog-tablet-line.svg");
    }

    @media (min-width: @desktop-width) {
      position: absolute;
      top: -100px;
      content: url("../img/catalog-desktop-line.svg");
    }
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    margin-bottom: 36px;
  }
}

.contact-information__title {
  margin: 0 auto;
  margin-bottom: 12px;

  @media (min-width: @tablet-width) {
    margin-left: 180px;
    margin-bottom: 22px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 64px;
    margin-left: 341px;
  }
}

.contact-information__input-text {
  background-color: @grey-extra-light;
  padding-left: 20px;
  margin-bottom: 8px;

  &:hover {
    background-color: @grey-light;
  }

  &:focus {
    outline: 4px solid @grey-light;
    outline-offset: -4px;
    background-color: @white-basic;
  }


  @media (min-width: @tablet-width) {
    margin-bottom: 17px;
    width: 628px;
  }

  @media (min-width: @desktop-width) {
    width: 290px;
  }
}

.contact-information__contact-word {
  white-space: pre-wrap;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.contact-information__label {
  margin-bottom: 10px;
  margin-left: 21px;

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-right: 18px;
  }
}

.feedback-form__phone-input {
  @media (min-width: @desktop-width) {
    margin-right: 82px;
  }
}
