.feedback-form {
  border: none;
}

.feedback-form__title {
  .font-var(18px, 26px, 700);
}

.feedback-form__input-name {
  .font-var(14px,26px);
  color: @grey-extra-dark;
}

.feedback-form__input-text {
  border: none;
  .font-var(18px, 26px, 700);
  height: 58px;
  background-color: @grey-extra-light;
  text-transform: none;
}

.feedback-form__input-text::placeholder {
  opacity: 1;
}

.feedback-form__button {
  text-transform: uppercase;
  border: none;
  .font-var(21px, 26px, 700);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 280px;
  height: 58px;
  background-color: @blue-basic;
  color: @white-basic;
  margin-bottom: 50px;
}
