.feedback {
  margin: 0 20px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    margin: 0 60px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 120px;
  }
}

.feedback__title {
  .none-indent;
  .font-var(18px, 26px, 700);
  margin: 0 auto;
  margin-bottom: 24px;
  position: relative;

  @media (min-width: @tablet-width) {
    .font-var(30px, 26px, 700);
    margin-bottom: 32px;
  }

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/intro-triangle.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 320px;
    height: 60px;
    top: -95px;
    left: -64px;

    @media (min-width: @tablet-width) {
      top: -118px;
      left: -224px;
      width: 768px;
    }

    @media (min-width: @desktop-width) {
      left: -482px;
      top: -170px;
      width: 1280px;
    }
  }
}

.feedback__description {
  .none-indent;
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    margin: 0 106px;
    margin-bottom: 81px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 262px;
    margin-bottom: 55px;
  }
}

.feedback__form {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: @desktop-width) {
    margin-bottom: 7px;
  }
}


.feedback__button {
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  .font-var(21px, 26px, 700);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 280px;
  height: 58px;
  background-color: @blue-basic;
  color: @white-basic;
  margin-bottom: 50px;

  &:hover {
    background-color: @blue-special;
  }

  &:active {
    background-color: @blue-extra;
    color: @white-opacity-03;
  }

  @media (min-width: @tablet-width) {
    min-width: 324px;
  }

  @media (min-width: @desktop-width) {
    min-width: 480px;
  }
}

.feedback__req-fields {
  margin-left: auto;
  padding-top: 20px;
  display: none;

  @media (min-width: @tablet-width) {
    display: initial;
  }
}
