.feedback-form {
  border: none;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  @media (min-width: @desktop-width) {
    width: 960px;
  }
}

.feedback-form__input-wrap {
  display: flex;
  margin-bottom: 20px;
}

.feedback-form__title {
  .font-var(18px, 26px, 700);

  @media (min-width: @tablet-width) {
    .font-var(21px, 26px, 700);
  }
}

.feedback-form__input-name {
  .font-var(14px,26px);
  color: @grey-extra-dark;
  display: flex;
  align-items: center;
  margin-right: 15px;

  @media (min-width: @desktop-width) {
    margin-right: 18px;
  }
}

.feedback-form__input-text {
  border: none;
  font-family: "PT Sans", "Arial", sans-serif;
  .font-var(18px, 26px, 700);
  height: 58px;
  text-transform: none;
}

.feedback-form__input-text::placeholder {
  opacity: 1;
}
