.foto-gallery__description {
  .font-var( 14px, 24px);
  margin-bottom: 42px;

  @media (min-width: @tablet-width) {
    margin-right: 165px;
    margin-left: 165px;
    margin-bottom: 70px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 385px;
    margin-right: 385px;
    margin-bottom: 80px;
  }
}
