.gallery-list {
  .none-indent;
  margin: 0 19px;

  @media (min-width: @tablet-width) {
    margin: 0 60px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 120px;
  }
}

.gallery-list__title {
  .none-indent;
  .font-var( 14px, 24px, 700);
  text-align: left;

  @media (min-width: @tablet-width) {
    margin-top: 8px;
    margin-left: 18px;
  }

  @media (min-width: @desktop-width) {
    color: @white-basic;
  }
}

.gallery-list__author {
  .none-indent;
  text-align: left;
  text-transform: none;
  .font-var( 14px, 24px, 400);
  margin-bottom: 15px;

  @media (min-width: @tablet-width) {
    margin-left: 18px;
  }

  @media (min-width: @desktop-width) {
    color: @white-basic;
  }
}

.gallery-list__coutner {
  .none-indent;
  text-align: left;
  .font-var( 14px, 24px, 700);
  margin-bottom: 15px;
  position: relative;
  margin-left: 37px;


  @media (min-width: @tablet-width) {
    margin: 0;
    margin-top: 23px;
    min-width: 50px;
  }

  &::before {
    content: url("../img/like-icon.svg");
    position: absolute;
    left: -35px;
    top: -2px;

    @media (min-width: @desktop-width) {
      content: url("../img/like-icon-d.svg");
    }
  }

  @media (min-width: @desktop-width) {
    color: @white-basic;
  }
}

.gallery-list__item-1 {
  @media (min-width: @tablet-width) {
    width: 648px;
    height: 480px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
    position: relative;
  }
}

.gallery-list__item-2 {
  @media (min-width: @desktop-width) {
    position: relative;
  }
}

.gallery-list__item-3 {
  @media (min-width: @desktop-width) {
    position: relative;
  }
}

.gallery-list__item-4 {
  @media (min-width: @desktop-width) {
    position: relative;
  }
}

.gallery-list__descrition-block {
  @media (min-width: @tablet-width) {
    background-color: @grey-extra-light;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    background-color: @black-opacity-03;
    bottom: 0;
    width: 100%;
  }
}
