.general-impression {
  .none-indent;
  margin-bottom: 12px;

  &::before {
    position: absolute;
    top: -97px;
    left: -20px;
    content: url("../img/catalog-mobile-line.svg");

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    order: -1;
    width: 324px;
  }

  @media (min-width: @desktop-width) {
    width: 480px;
  }
}

.general-impression__title {
  .none-indent;
  margin-left: 24px;
  margin-bottom: 37px;

  @media (min-width: @tablet-width) {
    margin-bottom: 72px;
    margin-left: 0;
  }

  @media (min-width: @desktop-width) {
    margin-left: 80px;
  }
}
