.impression-list {
  .none-indent;
}

.impression-list__title {
  .none-indent;
  margin-left: 24px;
  margin-bottom: 37px;

  @media (min-width: @tablet-width) {
    margin-bottom: 72px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 80px;
  }
}

.impression-list__item {
  margin-bottom: 43px;
  margin-left: 75px;

  @media (min-width: @tablet-width) {
    margin-bottom: 52px;
  }
}
