.index-intro {
  min-height: 100%;
  width: 100%;
  background-image: url("../img/title-back.jpg");
  background-repeat: no-repeat;
}

.index-intro__list {
  .none-indent;
  padding-top: 90px;
}

@media (min-width: @tablet-width) {
  .index-intro__list {
    padding-top: 77px;
  }
}

.index-intro__sedona {
  padding-top: 32px;
  padding-bottom: 37px;
}

@media (min-width: @tablet-width) {
  .index-intro__sedona {
    padding-top: 51px;
    padding-bottom: 59px;
  }
}

.index-intro__about {
  margin: 0 auto;
  padding-top: 117px;
  padding-left: 25px;
  padding-right: 25px;
  .font-var(18px, 26px, 700);
  max-width: 483px;
}

@media (min-width: @tablet-width) {
  .index-intro__about {
    padding-top: 154px;
    .font-var(21px, 26px, 700);
  }
}
