.page-footer__hashtag {
  .font-var(21px, 26px, 700);
  padding-top: 38px;
  padding-bottom: 34px;
}

.page-footer {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
}
