.page-header__wrap {
  height: 56px;
  position: relative;

  @media (max-width: @mobile-width-only) {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
  }
}

@media (min-width: @tablet-width) {
  .page-header__wrap {
    height: 0;
  }

  .page-header__logo {
    content: "";
    position: relative;
    top: -56px;
  }
}
