.page-title {
  min-height: 100%;
  width: 100%;
  background-image: url("../img/title-back.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  padding-top: 47px;
  padding-bottom: 55px;
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    background-image: url("../img/title-back-tablet.jpg");
    height: 290px;
    padding: 0;
    margin-bottom: 62px;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/title-back-desktop.jpg");
  }
}

.page-title__sedona {
  @media (min-width: @tablet-width) {
    width: 460px;
    height: 80px;
    padding-top: 95px;
  }

  // @media (min-width: @desktop-width) {

  //   width: 460px;
  //   height: 80px;
  // }
}
