.personal-data {
  margin-bottom: 26px;

  @media (min-width: @tablet-width) {
    margin-bottom: 52px;
    flex-direction: column;
    width: 324px;
  }

  @media (min-width: @desktop-width) {
    width: 480px;
  }
}

.personal-data__title {
  margin-bottom: 15px;

  @media (min-width: @tablet-width) {
    margin-bottom: 52px;
    margin-left: 58px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 80px;
  }
}

.personal-data__input-text {
  background-color: @grey-extra-light;
  width: 100%;

  &:hover {
    background-color: @grey-light;
  }

  &:focus {
    outline: 4px solid @grey-light;
    outline-offset: -4px;
    background-color: @white-basic;
  }
}

.personal-data__label {
  @media (min-width: @tablet-width) {
    margin-left: 58px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 80px;
  }
}
