.reasons-item-five {
  .reasons-item-style;
}

@media (min-width: @tablet-width) {
  .reasons-item-five {
    width: 256px;
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: @desktop-width) {
  .reasons-item-five {
    width: 400px;
  }
}
