.reasons {
  line-height: 21px;
  margin-bottom: 33px;

  @media (min-width: @tablet-width) {
    margin-bottom: 55px;
  }
}

.reasons__list {
  .none-indent;
  display: flex;
  flex-wrap: wrap;
}

.reasons__list-title {
  .font-var(18px, 26px, 700);
  // margin-bottom: 25px;
  .none-indent;

  @media (min-width: @tablet-width) {
    .font-var(21px, 26px, 700);
  }
}

.reasons__list-number {
  .none-indent;
  margin-top: 10px;
  margin-bottom: 17px;

  @media (min-width: @tablet-width) {
    margin-bottom: 25px;
  }
}

.reasons__description {
  .none-indent;
}
