.review {
  .none-indent;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;

  &::before {
    position: absolute;
    top: -39px;
    left: -20px;
    content: url("../img/catalog-mobile-line.svg");

    @media (min-width: @tablet-width) {
      top: -6px;
      left: 0;
      content: url("../img/catalog-tablet-line.svg");
    }
  }

  &::after {
    @media (min-width: @tablet-width) {
      position: absolute;
      top: -6px;
      right: 0;
      content: url("../img/catalog-tablet-line.svg");
    }
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 53px;
  }
}

.review__input-text {
  background-color: @grey-extra-light;
  padding: 14px 20px;
  width: 240px;
  min-height: 132px;
  resize: none;

  &:hover {
    background-color: @grey-light;
  }

  &:focus {
    outline: 4px solid @grey-light;
    outline-offset: -4px;
    background-color: @white-basic;
  }

  @media (min-width: @tablet-width) {
    width: 608px;
    min-height: 124px;
    padding: 18px 20px;
    resize: vertical;
  }

  @media (min-width: @desktop-width) {
    width: 920px;
  }
}

.review__title {
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    margin-bottom: 58px;
  }
}
