.sights-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  .none-indent;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 480px;
    min-height: 184px;
  }

  @media (min-width: @desktop-width) {
    width: 980px;
  }
}

.sights-list__checkbox {
  display: none;
}

.sights-list__item {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 240px;
  position: relative;
}

.sights-list__item::before {
  position: absolute;
  content: "";
  width: 46px;
  height: 46px;
  background-color: @grey-extra-light;
  left: -70px;
}

.sights-list__checkbox:checked + .sights-list__item::after {
  position: absolute;
  content: url("../img/tick.svg");
  width: 24px;
  height: 17px;
  left: -60px;
}
