.social__list {
  .none-indent;
  display: flex;
  width: 151px;
  justify-content: space-between;
}

.social__item {
  width: 46px;
  height: 48px;
  background-color: @blue-basic;
}

.social__text {
  .visually-hidden;
}

.social {
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .social {
    margin: 0;
    margin-top: 20px;
  }
}
